@using Booking.Web.ViewModels.AdminPanel
@model Booking.Web.ViewModels.AdminPanel.AdminPanelViewModel

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.js")

    <script>
        $(document)
            .ready(function() {

                var dp = $("#datepicker");

                dp.datepicker({
                    format: 'dd/MM/yyyy'
                });

                dp.on('changeDate',
                    function(ev) {
                        dp.val(ev.target.value);
                    });

            });
    </script>
    <style>
        .list-group-item.active a {
            color: white;
        }
    </style>
}
@section styles {
    @Styles.Render("~/Content/bootstrap-datepicker.css")
}

<h2>Audience maps</h2>

<ul class="list-group">
    @foreach (var pair in Model.AudienceMaps)
    {
        <li class="list-group-item @(Model.ActiveMapId == pair.Key ? "active" : "")">
            <a href="@Url.Action("AudienceMap", "AdminPanel", new {id = pair.Key})">@pair.Value</a>

            @if (Model.ActiveMapId != pair.Key)
            {
                using (Html.BeginForm("SetActiveAudienceMap", "AdminPanel", new {id = pair.Key}, FormMethod.Post, new {@class = "inline-form"}))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Set active</button>
                }
            }
            @using (Html.BeginForm("DeleteAudienceMap", "AdminPanel", new {id = pair.Key}, FormMethod.Post, new {@class = "inline-form"}))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger" style="margin-left:40px">Delete</button>
            }
        </li>
    }
</ul>


<a href="@Url.Action("CreateAudienceMapPage", "AdminPanel")">Create new audience map</a>

<br/>

<h2>Schedule rules</h2>

<ul class="list-group">
    @foreach (var rule in Model.ScheduleRules)
    {
        <li class="list-group-item">
            @rule.DayOfWeek (@rule.StartHour:00 - @rule.EndHour:00) - Applied on @rule.AppliedDate
        </li>
    }
</ul>

<br/>

@Html.Partial("_NewScheduleRulePartial", new CreateScheduleRuleViewModel {AppliedDate = DateTime.Now})